---
layout: default
---
<div class="post">
{% assign myText = page.tag %}
{% assign delimiter = '_' %} {% capture myText %}{{ myText | replace: delimiter, ' ' }}{% endcapture %}
{% capture myFirstWord %}{{ myText | truncatewords: 1 | remove: '...' }}{% endcapture %}
{% capture mySecondWord %}{{ myText | replace: myFirstWord, '' }}{% endcapture %}
{% assign firstWord= myFirstWord | capitalize %}
{% assign secondWord= mySecondWord | remove: " " | capitalize%}

  <h1>Articles on the {{ firstWord }} {{secondWord}}</h1>
  <ul>
    {% for post in site.tags[page.tag] %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string }})
      <br> {{ post.description }}
    </li>
    {% endfor %}
  </ul>
</div>
<hr>